body{
    margin: auto;
    padding: 0;
}
header{
    background-image: url(./img/pattern.png);
    background-size: 43%;
    height: 10%;
    background-color: rgb(56, 155, 221);
    
    
}
#logo{
    height: 50%;
    width: 25%;
    padding-top: 4%;
}
h1{
font-weight: 1100;
font-size: 85px;
color: black;
}
.written{
    color: grey;
    font-size: 30px;
}
#writer{
    color: lightskyblue;

}