body{
    margin: auto;
    padding: 0;
}

header{
    background-image: url(./img/pattern.png);
    background-size: 43%;
    height: 10%;
    background-color: rgb(56, 155, 221);   
}

#logo{
    height: 50%;
    width: 25%;
    padding-top: 4%;
}

h1{
font-weight: 1100;
font-size: 85px;
color: black;
}

.written{
    color: grey;
    font-size: 30px;
}

#writer{
    color: lightskyblue;
}

#date{
    color: grey;
    font-size: 20px;
}

#photo{
    margin-top: 1%;
}

.text-article{
    font-size: 22px;
}

.underline{
    background-color: yellow;
}

ul{
    margin: 1%;
    padding: 1%;
}

table{
    width: 100%;
    text-align: center;
    margin: 0;
    border-collapse: collapse;

}
thead{
    background-color: rgb(9, 116, 116);
    color: white;
}
.pair{
    background-color: aqua;
}